
<% layout('layouts/sidebar')%> 

<div class="main__container">
    <!-- MAIN TITLE STARTS HERE -->

    <div class="main__title">
      <img src="/img/assets/hello.svg" alt="" />
      <div class="main__greeting">
        <h1>Hello</h1>
        <p>Welcome to your <%if(currentUser.isAdmin){ %> admin <% }else if(currentUser.isStaff) {%>Staff <% }else{ %> barangay <% } %>  dashboard</p>
      </div>
    </div>

    <!-- MAIN TITLE ENDS HERE -->

    <!-- MAIN CARDS STARTS HERE -->
    
    
    <div class="main__cards">
      <div class="card">
        <i
          class="fa fa-user-o fa-2x text-lightblue"
          aria-hidden="true"
        ></i>
        <div class="card_inner">
          <p class="text-primary-p">Register User</p>
          <span class="font-bold text-title"><%= userLength  %> </span>
        </div>
      </div>


      <div class="card">
        <i
          class="fa fa-archive fa-2x text-yellow"
          aria-hidden="true"
        ></i>
        <div class="card_inner">
          <p class="text-primary-p">Relief</p>
          <span class="font-bold text-title"><%=reliefLength  %> </span>
        </div>
      </div>

      <div class="card">
        <i
          class="fa fa-user-plus fa-2x text-green"
          aria-hidden="true"
        ></i>
        <div class="card_inner">
          <p class="text-primary-p">Register Household</p>
          <span class="font-bold text-title"><%=personL  %> </span>
        </div>
      </div>
    </div>
    <!-- MAIN CARDS ENDS HERE -->

    <!-- CHARTS STARTS HERE -->
    <div class="charts">

      <div class="charts__right">
        <div class="charts__right__title">
          <div>
            <h1>Stats Report</h1>
            <p>Pambujan N. Samar</p>
          </div>
          <i class="fa fa-tripadvisor" aria-hidden="true"></i>
        </div>

        <div class="charts__right__cards">
          <div class="card1">
            <h1>Donations</h1>
            <p><%=donationL  %> </p>
          </div>

          <div class="card2">
            <h1>Staff</h1>
            <p><%=staffL  %> </p>
          </div>

          <div class="card3">
            <h1>Relief Distributed</h1>
            <p><%=completed  %> </p>
          </div>

          <div class="card4">
            <h1>Commodity Delivered to Barangay</h1>
            <p><%=com  %> </p>
          </div>
        </div>
      </div>
    </div>
    <!-- CHARTS ENDS HERE -->
  </div>