
<% layout('layouts/sidebar')%> 

<h1 class="text-center">List Of All Donation</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Donator</th>
        <th scope="col">Donated</th>
        <th scope="col">Calamity</th>
      
    </thead>
    <tbody id="tbody">
        <% for (data of donation) {%>
    <tr>
       
            <th><%=data.name  %> </th> 
            <th> <%=data.itemDonation.quantity  %><%=data.itemDonation.units%> <%=data.itemDonation.name %> </th>
            <th><%=data.calamity  %> </th>
            
       
    </tr>
    <% } %>
    </tbody>
  </table>